 <h1 class = "top-messsage"><%="#{@book.name}"%></h1>

  <% @messages.reverse_each do |message| %>
  <div class = "message-head">
   <div id='messages'>
    <i><%= message.text %></i>
   
       <%= message.user.nickname%>
  </div>
   <% end %>
</div>
  <div class="box-new">
      <%= form_with model: [@book,@room, @message],url: new_book_room_message_path(@book.id,@room.id), local: true do |f| %>
     <%= f.text_field :text, id: "message_text" %>
     <%= f.submit '送信' %>
    <% end %>
     <div class="message-new">
   <i class="container2">  <%= link_to 'home', "/", class: "btn-open3" %></i>
   </div>
  </div>