
 <h1 class = "top-messsage"><%="#{@book.name}"%></h1>
<% @book.messages.order(created_at: :DESC).each do |message| %>
  <div class = "message-head">
   <form id='messages'>
   <div class="message-content">
    <%= message.text %>
    <i class="message-text">
       <%= message.user.nickname%>
    </i>
   </div>
  </form>
   <%end%>

</div>
  <div class="box-new">
      <%= form_with model: [@book, @message],url: "/books/#{@book.id}/messages", local: true do |f| %>
     <%= f.text_field :text, id: "message_text" %>
     <%= f.submit '送信' %>
    <% end %>
    <%# ホームボタン %>
<%= render "shared/home" %>
  </div>