
  <%# ドロワー %>

 <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
    <li >さぁ始めよう <span>let's share</span></li>
    <% if user_signed_in?%>
       <li class ="btn5"> <%= "#{current_user.nickname} 様" %></li>
        <li class ="btn5"> <%= link_to "マイページ",  edit_user_registration_path %></li><br/>
       <li class ="btn5"> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li><br/>
       <li class ="btn5"> <%= link_to "さっそく投稿する！", new_book_path %></li>
       <li class ="btn5"> <%= link_to "いいね一覧！", favorites_users_path %></li><br/>
      <% else %>
       <li class ="btn5"> <%= link_to "新規登録", new_user_registration_path %></li>
       <li class ="btn5"> <%= link_to "ログイン", new_user_session_path %></li>
       <li class ="btn5"> <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li><br/>
      <% end %>
      <li class ="btn5"><%= link_to "アマゾンで探す", books_amazon_path %></li><br/>
      <li class ="btn5"><a href='https://serene-mirzakhani-0c10e5.netlify.app/' target="_blank">管理人に問い合わせる </a></li><br/>
      <br/>
      <br/>
      <li > <h3 id="introduce">
        Booksとは
       </h3></li> 
       <li> <i id="introduce-text">
        好きな本について理解を深めたり、好きな本について語りあうためのアプリです。
       </i></li> 
    </ul>
  </div>

 <%# ドロワー %>