<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="IE=edge">

<link href="../../_common/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div id="box">
	<ul>
  <li> <%= link_to "新規登録", new_user_registration_path %></li>
  <li>  <%= link_to "新規登録", new_user_registration_path %></li>
  <li>  <%= link_to "新規登録", new_user_registration_path %></li>
  <li>  <%= link_to "新規登録", new_user_registration_path %></li>
	</ul>
</div>
<header>
<div class="header-contents">
	<div id="box_btn">Menu</div>

<h1 id="object" class="slideUp">
  Books
</h1>

<div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>

    <%= link_to '新規投稿', new_book_path, class: "subtitle" %>

</div>
<% if user_signed_in?%>

<%= "#{current_user.nickname} 様" %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <h2>ログインしていません</h2>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
</div><!-- /.header-contents -->
</header>
<div class="main-wrapper">
<section>
	
</section>
</div><!-- /.main-wrapper -->

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
$(document).ready(function(){
	$('#box_btn').on('click', function(){
		$('#box').slideToggle();
	});
});
</script>
</body>
</html>
