<body><div class="container">
<div class="sec1title">
    <h2>＊画像を投稿！＊</h2>
  </div>
  
 <%= form_with model: @books, method: :post, local: true do |f| %>
  
  <div class="field" type="text">
    <%= f.label :name, "本の名前" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
     <%= f.label :content, "説明文" %><br />
  <%= f.text_area :content, placeholder: "話したい内容について、ご自由にお書きください" , rows: "12" %> 
  <br /><br /> 
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label><br />
  </div>
<br/>
<br/>
  <div class="actions">
    <%= f.submit "投稿する", class: "btn1" %>
  </div>
<% end %>
</div>
</body>
