<body><div class="container">
<div class="sec1title">
    <h1>会員登録</h1>
  </div>
  
 <%= form_with model: @book, local: true do |f| %>
  
  <div class="field" type="text">
    <%= f.label :name, "本の名前" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
   <%= f.label :birthday, "誕生日" %><br />
   <%= f.date_select :birthday, start_year: 1950, end_year: 2019 %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字必要)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
       <i class="cntfrmicn fa fa-comment"></i>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  
  </div>
  <br/>
 
<br/>
<br/>
  <div class="actions">
    <%= f.submit "登録する", class: "btn1" %>
  </div>
<% end %>
 <%= render "shared/footer" %>
</div>
</body>
