<html>
    <div class="header"></div>
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      
      <label for="openSidebarMenu" class="sidebarIconToggle">
      
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
<head>
    <%# ドロワー %>

    <%= render "shared/sidebar" %>

    <%# ドロワー %>

  <%# 検索 %>

    <%= search_form_for @p, url: search_books_path do |f| %>
        <%= f.label :tag_name_cont, 'タグ名' %>
        <%= f.text_field  :tag_name_cont, placeholder: "タグの名前で検索" %>
        <br>
        <%= f.submit '検索' %>
    <% end %>

  <%# 検索 %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    </head>
    <body>
  <header> 
    <div  class="header-contents">
      <div class="welcon-message">好きなだけ語ろう</div>
    <p data-item='Books'>Books</p>
      <section>
        <div class="welcon-message">Enjoy life with books </div>
      </section>
    </div>

  <%# 本情報 %>
    <div>
    <% @books.each do |book|%>
     <% if book.present?%>
      <tr>
        <td> <h3 class="item-name"><%= book.genre.type %></h3></td>
        <td> <h2 class="item-name"><%= book.name %></h2></td>
        <%= link_to "/books/#{book.id}" do %>
        <td><%= image_tag book.image , id: 'slideshow' if book.image.attached?%></td>
        <% end %>
      </tr>
     <%end%>
    <% end %>
   </div>
   <div id="page">
     <%=paginate @books %>
   </div>
  <%# 本情報 %>

    <div>
    <a href="books/new" class="fancy-button pop-onhover bg-gradient1">
    <span>Post A Book</span>
    </a>

        <div class="main-wrapper">

    <%# フッター %>

    <%= render "shared/footer" %>

    <%# フッター %>

        </div>
    </body>

</html>
