<html>
<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  
  <label for="openSidebarMenu" class="sidebarIconToggle">
  
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <%= render "shared/sidebar" %>
 
  <!doctype html>
<head>
<%= search_form_for @p, url: search_books_path do |f| %>
    <%= f.label :name_cont, '商品名' %>
    <%= f.search_field :name_cont, placeholder: "本の名前で検索" %>
    <br>
    <%= f.submit '検索' %>
<% end %>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>template</title>
</head>
  <body>
<header> 
<div  class="header-contents">
  <div class="welcon-message">好きなだけ語ろう</div>
<p data-item='Books'>Books</p>
<section>
  <div class="welcon-message">Enjoy life with books </div>
   </section>
</div>
<div class="item-row">
   <%= render "book" %>
   
  <br/>
</div>
<br/>
<div class="recomend">
<a class="welcon-message">あなたもシェアしませんか？</a>
<a class="welcon-message">Would you like to share?<a>
<a href="books/new" class="fancy-button pop-onhover bg-gradient1">
<span>Post A Book</span></a>
</div>
<br/>

    </header>
    <div class="main-wrapper">
<%= render "shared/footer" %>
    </div><!-- /.main-wrapper -->
    <footer>
    
   </footer>
   </body>

</html>
