<body><div class="container">
    
<div class="sec1title">
    <div class="item-show">
          <h2 class='border01'>
            <%= @book.genre.type %>
          </h2>
        <%= image_tag @book.image, id: 'slideshow' if @book.image.attached? %>
        
        <div class="item-info" >
          <h2 id ='item-name'>
            <%= @book.name %>
          </h2>
            <form class="item-content-show">
            <%= @book.content %>
            <div  class ="tag_set">
           
             #<%= @book.tag_name%>
             </div>
            </form>
        </div>
     <br />
    </div>
  </div>
  </div>
  
<%# ボタン領域 %>
<div id="favorites_buttons_<%= @book.id %>">
          </div>
  <div class="favorite-button">
 <% if user_signed_in? %>
    <% if @book.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <button><span>お気に入り解除: </span><%=link_to @book.favorites.count, book_favorites_path(@book.id), method: :delete, remote: true %></button>
    <% else %>
        <button><span>お気に入り登録: </span><%=link_to @book.favorites.count, book_favorites_path(@book.id), method: :post , remote: true%></button>
    <% end %>
  <% else %>
    <button><span>お気に入り数: </span><%= @book.favorites.count %></button>
  <% end %>
</div>
 <div>

 <br/>

  <div class="container">
          <a href="/books/new" class="bnt-massage">
          you wanna create?
          <span>enjoy ♪</span>
          </a>
 </div>
 </body>

     <% if user_signed_in?  && current_user.id == @book.user_id%>
   <i class="container2"><%= link_to '編集する', "/books/#{@book.id}/edit", method: :get, class: "btn-open" %></i>
   <i class="container2"> <%= link_to '削除する', "/books/#{@book.id}", method: :delete,  class: "btn-open",name: "button-delete"%></i>
     <% end %>   
  </div>
    <% if user_signed_in?  && current_user.id != @book.user_id%>
  <div class="message-new">
    <i class="container2">  <%= link_to 'メッセージを見る？', "books/#{@book.id}/messages/new", class: "btn-open2" %></i>
     <% end %>  
<div class="comment-box">
   <div>
      <%= form_with  model:[@book, @message], method: :post,local: true do |form| %>
       <%= form.text_field :text, id: "message_text" %>
       <%= form.submit '投稿する' %>
      <% end %>
      <div id="messages"></div>
   <div> 
 </div>
</div>
<br/>
<br/>
<%# ホームボタン %>
<%= render "shared/home" %>

  </div>
