<body><div class="container">
     <div class ="tag_set">
    <%@book.tags.each do |tag| %>
             #<%= tag.tag_name%>
           <%end%>

<div class="sec1title">
    <div class="item-show">
          <h2 class='border01'>
            <%= @book.genre.type %>
          </h2>
        <%= image_tag @book.image, id: 'slideshow' if @book.image.attached? %>
        
        <div class="item-info" >
          <h2 id ='item-name'>
            <%= @book.name %>
          </h2>
            <form class="item-content-show">
            <%= @book.content %>
            </form>
        </div>
     <br />
    </div>
  </div>
  
 </div>
 <div class="container">
          <a href="/books/new" class="bnt-massage">
          you wanna create?
          <span>enjoy ♪</span>
          </a>
 </div>
 
 </body>
 <div id="item-button-show">
     <% if user_signed_in?  && current_user.id == @book.user_id%>
      <i class="container2">  <%= link_to '編集する', "/books/#{@book.id}/edit", method: :get, class: "btn-open" %></i>
   <i class="container2">      <%= link_to '削除する', "/books/#{@book.id}", method: :delete,  class: "btn-open"%></i>
     <% end %>   
  </div>
  <div class="message-new">
    <i class="container2">  <%= link_to 'メッセージを送る！', "/books/#{@book.id}/messages/new", method: :get, class: "btn-open2" %></i>
  </div>
