 <i class="btn-open4"> <button  onclick ="alertFunction1()"> today </button> </i>
    <script>
        function alertFunction1() {
        const myDate = new Date();
         alert( myDate );
        }
    </script>

<body><div class="container">
    
<div class="sec1title">
    <div class="item-show">
          <h2 class='border01'>
            <%= @book.genre.type %>
          </h2>
        <%= image_tag @book.image, id: 'slideshow' if @book.image.attached? %>
        
        <div class="item-info" >
          <h2 id ='item-name'>
            <%= @book.name %>
          </h2>
            <form class="item-content-show">
            <%= @book.content %>
            <div  class ="tag_set">
            <%@book.tags.each do |tag| %>
             #<%= tag.tag_name%>
             </div>
           <%end%>
            </form>
        </div>
     <br />
    </div>
  </div>
  
  </div>
  <div class="container">
          <a href="/books/new" class="bnt-massage">
          you wanna create?
          <span>enjoy ♪</span>
          </a>
 </div>
 </body>

 <%# ボタン領域 %>

 <div>
     <% if user_signed_in?  && current_user.id == @book.user_id%>
   <i class="container2"><%= link_to '編集する', "/books/#{@book.id}/edit", method: :get, class: "btn-open" %></i>
   <i class="container2"> <%= link_to '削除する', "/books/#{@book.id}", method: :delete,  class: "btn-open",name: "button-delete"%></i>
     <% end %>   
  </div>
    <% if user_signed_in?  && current_user.id != @book.user_id%>
  <div class="message-new">
    <i class="container2">  <%= link_to 'メッセージを送る！', "/books/#{@book.id}/rooms/new", method: :get, class: "btn-open2" %></i>
     <% end %>  

<%# ホームボタン %>
       <%= render "shared/sidebar" %>

  </div>
